.tag {
    cursor: pointer;
    padding: 3px;
    font-family: var(--ff-main);
    font-size: 12px;
    font-weight: var(--fw-semibold);
    border-radius: 4px;
  
    &-red {
      color: var(--negative);
    }
  
    &-yellow {
      color:var(--cards);
    }
  
    &-green {
      color: var(--positive);
    }
  }
  
  .transparent {
    background-color: transparent;
  }